<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="image/png" sizes="96x96" rel="icon" href="icons8-favicon-96.png">
</head>
<body>
    <h1>Welcome to First Flask app</h1>    
    <h2>Enter two numbers to add</h2>
    <form action="/about" method="post">
        <input type="text" name="num1" id="num1" placeholder="Enter Number 1">
        <input type="text" name="num2" id="num2" placeholder="Enter Number 2">
        <input type="submit" value="Add">
    </form>
    <a href="/about">About</a>
</body>
</html>